In [1]:
import tweepy
from tweepy import OAuthHandler
from tweepy import Stream
from tweepy.streaming import StreamListener
import socket
import json

In [2]:
import numpy as np
import pandas as pd

In [3]:
access_token = "1451764303-6YQ4d5NLqPXEJb8DPrZnKzm8vEfD9mZX2YGxuH9"
access_secret = "vL87QAU0UOAAdK4okV4kpArQuRSXMYvybtZoUkzleaVJR"
consumer_key = "CPelcT6ZGfO5Hpzv36HWHs3EY"
consumer_secret = "M8n0HTrlSPmnRVkFg49YpPGJ2S4lIxDppT8l8QC2sLlIsL0qg0"

In [4]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
api = tweepy.API(auth)

In [11]:
hastags = ["bankofamerica","usbank","USTreasury","federalreserve","BankofAmerica","usbank_news"]

In [18]:
for tweet in api.search('usbank'):
    print(tweet.text)

Can you recommend anyone for this job in Houston, TX? https://t.co/8vw1VS2B3o #USBank #QA
@CuriosophyNow @usbank yes, what is going on?  Terrible...@usbank
Want to work at U.S. Bank? We're hiring in Tempe, AZ! Click for details: https://t.co/WPDo6tsY5f #USBank #CustomerService
Interested in a job in Minneapolis, MN? This could be a great fit: https://t.co/6zAXuIX71A #USBank #Banking
Join the U.S. Bank team! See our latest job opening here: https://t.co/s8t54J7pEw #USBank #IT
@JonMuel01944083 Hello Jon, I'm happy to offer you an explanation. During the timeframe you mentioned, bank process… https://t.co/0zeLZNJvV0
Want to work at U.S. Bank? We're hiring in Remote, OR! Click for details: https://t.co/JH7D6NpBiZ #USBank #IT
@marilyn73752232 @usbank Yea they are lying they are just not supposed to give non us bank  cards back to you just… https://t.co/HCnsWyICKn
@usbank DO NOT make mistake of doing business with US BANK. I was using US Bank ATM to get cash on out of area bank… https://t.co/hR2sbCASrH
@4evermorephotos Good morning, thank you for sharing your concerns. We hate to hear that you no longer plan to use… https://t.co/XCM5Fr1jdH
@CuriosophyNow @usbank Still down
Happy Veterans Day! Honoring those who have fought for us. https://t.co/hp25wvI7Oh https://t.co/maKWsAbLYi
Shout-out to @usbank , the A.T.M is fixed, thank you, good thing it was  a temporary glitch
@usbank in Raymore Mo has completely went to crap.  3rd time in a month they had computer problems and 2xs not enou… https://t.co/r6J0T11El7
@usbank Is there an ETA for your current technical difficulties?

In [21]:
df = pd.DataFrame(columns = ['User', 'User_statuses_count', 
                             'user_followers','fav_count','User_location','Tweets',])

In [24]:
def stream(data, file_name):
    i = 0
    for tweet in tweepy.Cursor(api.search, q=data, count=100000, lang='en').items():
        print(i, end='\r')
        df.loc[i, 'User'] = tweet.user.name
        df.loc[i, 'User_statuses_count'] = tweet.user.statuses_count
        df.loc[i, 'user_followers'] = tweet.user.followers_count
        df.loc[i, 'fav_count'] = tweet.favorite_count
        df.loc[i, 'User_location'] = tweet.user.location
        df.loc[i, 'Tweets'] = tweet.text
        
        
        df.to_csv('{}.csv'.format(file_name))
        i+=1
        if i == 5000:
            break
        else:
            pass

In [27]:
stream(data = ['Bank of America'], file_name = 'usbank')

In [28]:
df.head()

,User,User_statuses_count,user_followers,fav_count,User_location,Tweets
0,Susan APRIL Steinkoenig,18402,672,0,"San Francisco, CA",Parc 55 Hilton Hotel San Francisco 100 block M...
1,Shawnny,2464,116,0,,I fucking hate Bank of America.
2,WBZ NewsRadio,177468,45630,0,Boston,One Of America's Most Wanted Bank Robbers Is I...
3,Marie Wilson,7258,117,0,,The right wing in America wastes their lives b...
4,"MIA: Decorative Arts, Textiles and Sculpture (...",8453,3532,0,"Minneapolis, MN","Girard Model Works, Inc., ""Bank of America Cas..."

In [29]:
df.to_csv('bankofamerica.csv')